.header-section{
    background-image: linear-gradient(transparent, rgba(56, 3, 3, 0.882)), url(./IMG/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.brand{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EB2929;
}
.brand1{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EB2929;
}
.brand-text1{
    font-size: 45px;
}
.brand-text{
    font-size: 70px;
}
.search{
    margin-bottom: 70px;
}
.search-location{
    width: 245px;
    height: 50px;
}
.search-restaurant{
    width: 477px;
    height: 50px;
}
.meal-section-header{
    color: #192F60;
}
.meal-section-sub-head{
    color: #8C96AB;
}
.img{
    height: 160px;
    width: 160px;
}
.meal-list{
    height: 160px;
    width: 360px;
    box-shadow: 0px 3px 6px #00000029;
}
@media screen and (max-width: 600px) {
    .header-section{
        background-size: 100vh 100vw;
        height: 375px;
    }
}